<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="common/head :: head"></th:block>
<body>

<!-- Navbar -->
<div th:replace="common/navbar :: navbarFragment"></div>

<section class="content-main" style="max-width: 760px">
  <h2 class="content-title" th:text="${title}">Gestione Veicoli</h2>
  <div class="content-header">
    <a href="#" class="btn btn-outline-danger">× Annulla</a>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <form th:action="@{/parcoauto/aggiungi}" th:object="${dativec}" method="post">
        <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
          <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
          </ul>
        </div>

        <div class="row gx-2">
          <!-- Targa -->
          <fieldset class="col-sm-6 mb-3">
            <label for="targa" class="form-label">Targa:</label>
            <input type="text" id="targa" th:field="*{targa}" class="form-control" placeholder=""/>
            <div class="text-danger" th:if="${#fields.hasErrors('targa')}" th:errors="*{targa}"></div>
          </fieldset>

          <!-- Anno Immatricolazione -->
          <fieldset class="col-sm-6 mb-3">
            <label for="annoImmatricolazione" class="form-label">Anno Immatricolazione:</label>
            <input type="text" id="annoImmatricolazione" th:field="*{annoImmatricolazione}" class="form-control" placeholder=""/>
            <div class="text-danger" th:if="${#fields.hasErrors('annoImmatricolazione')}" th:errors="*{annoImmatricolazione}"></div>
          </fieldset>

          <!-- Modello -->
          <fieldset class="col-sm-6 mb-3">
            <label for="modello" class="form-label">Modello:</label>
            <input type="text" id="modello" th:field="*{modello}" class="form-control" placeholder=""/>
            <div class="text-danger" th:if="${#fields.hasErrors('modello')}" th:errors="*{modello}"></div>
          </fieldset>
        </div>

        <div class="row gx-2">
          <!-- Tipologia -->
          <fieldset class="col-sm-6 mb-3">
            <label for="tipologia" class="form-label">Tipologia:</label>
            <select id="tipologia" th:field="*{tipologia}" class="form-select">
              <option value="Crossover">Crossover</option>
              <option value="Furgone">Furgone</option>
              <option value="Minivan">Minivan</option>
              <option value="Station Wagon">Station Wagon</option>
              <option value="SUV">SUV</option>
              <option value="Utilitaria">Utilitaria</option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('tipologia')}" th:errors="*{tipologia}"></div>
          </fieldset>

          <!-- Casa Produttrice -->
          <fieldset class="col-sm-6 mb-3">
            <label for="casaProduttrice" class="form-label">Casa Produttrice:</label>
            <input type="text" id="casaProduttrice" th:field="*{casaProduttrice}" class="form-control" placeholder=""/>
            <div class="text-danger" th:if="${#fields.hasErrors('casaProduttrice')}" th:errors="*{casaProduttrice}"></div>
          </fieldset>
        </div>
        <br>

        <input type="submit" id="btnAdd" class="btn btn-primary form-buttons" value="Salva"/>
      </form>
    </div>
  </div>
</section>

<!-- Footer -->
<div th:replace="common/foot :: footFragment"></div>

</body>
</html>
