<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!-- Inclusione dell'header comune -->
<th:block th:replace="common/head :: head"></th:block>

<body>

<!-- Navbar comune -->
<th:block th:replace="common/navbar :: navbarFragment"></th:block>

<section class="content-main">

  <div class="content-header">
    <h2 class="content-title">Lista Veicoli</h2>
    <th:block th:if="${isAdmin}">
    <div>
      <a th:href="@{/parcoauto/aggiungi}" class="btn btn-primary newart">
        <i class="material-icons md-plus"></i>
        Nuovo
      </a>
    </div>
    </th:block>
  </div>

  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <form class="form-inline my-2 my.lg-0" id="search" method="GET" th:action="@{'/parcoauto/search/parametri;paging=0,0?selected=10&filtro='+${filtro}+'&campoFiltro='+${campoFiltro}}">
            <input type="text" id="filtroInput" name="filtro" th:value="${filtro}" placeholder="Cerca..." class="form-control"/>

            <select class="form-select mt-2" name="campoFiltro">
              <option value="targa">Targa</option>
              <option value="modello">Modello</option>
              <option value="tipologia">Tipologia</option>
              <option value="casaProduttrice">Casa produttrice</option>
            </select>

            <button type="submit" class="btn btn-primary mt-2">Cerca</button>
          </form>
        </div>

        <div class="col-lg-2 col-6 col-md-3">
          <form>
            <select id="righe" class="form-select" onchange="refreshPage()">
              <option>--Righe--</option>
              <option value="10">Mostra 10</option>
              <option value="20">Mostra 20</option>
              <option value="30">Mostra 30</option>
            </select>
          </form>
        </div>
      </div>
    </header>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Modello</th>
            <th>Casa Produttrice</th>
            <th>Anno di immatricolazione</th>
            <th>Targa</th>
            <th>Tipologia</th>
            <th class="text-end">Azione</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="veicolo : ${veicoli}">
            <td class="tbl-string" th:text="${veicolo.modello}"></td>
            <td class="tbl-string" th:text="${veicolo.casaProduttrice}"></td>
            <td class="tbl-string" th:text="${veicolo.annoImmatricolazione}"></td>
            <td class="tbl-string" th:text="${veicolo.targa}"></td>
            <td class="tbl-string" th:text="${veicolo.tipologia}"></td>

            <td class="text-end">

              <!-- Solo per ADMIN -->
              <th:block th:if="${isAdmin}">
                <a th:href="@{'/parcoauto/elimina/' + ${veicolo.getTarga()}}"
                   class="btn btn-light text-danger"
                   onclick="return confirm('Sei sicuro di voler eliminare questo veicolo?');">
                  Elimina
                </a>

                <!-- DropDown Menu -->
                <div class="dropdown d-inline">
                  <a href="#" data-bs-toggle="dropdown" class="btn btn-light">
                    <i class="material-icons md-more_horiz"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dettaglio</a></li>
                    <li><a class="dropdown-item" href="#">Visualizza prenotazioni</a></li>
                    <li><a class="dropdown-item" th:href="@{'/parcoauto/modifica/' + ${veicolo.getTarga()}}">Modifica</a></li>
                  </ul>
                </div>
              </th:block>

              <!-- Solo per USER (non ADMIN) -->
              <th:block th:if="${!isAdmin}">
                <a th:href="@{'/prenotazioni/aggiungi/' + ${veicolo.getId()}}" class="btn btn-primary">Prenota</a>
              </th:block>

            </td>
          </tr>
          </tbody>
        </table>

        <div th:if="${notFound}" class="alert alert-danger" role="alert">
          Veicolo/i NON presente/i in anagrafica!
        </div>

        <!-- Inizio Blocco Paginazione -->
        <nav class="float-end mt-3" aria-label="Page navigation">
          <ul class="pagination">

            <!-- Tasto Previous -->
            <li class="page-item" th:classappend="${pageNum <= 1} ? 'disabled'">
              <a class="page-link"
                 th:href="@{'/parcoauto/search/parametri;paging=' + ${pageNum} + ',-1?selected=' + ${recPage}+ '&filtro='+${filtro}+'&campoFiltro='+${campoFiltro}}"
                 aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Precedente</span>
              </a>
            </li>

            <!-- Pagine numerate -->
            <li class="page-item"
                th:each="pagina : ${pages}"
                th:classappend="${pagina.selected} ? 'active'">
              <a  class="page-link"
                  th:href="@{'/parcoauto/search/parametri;paging=' + ${pagina.pageNum} + ',0?selected=' + ${recPage} + '&filtro='+${filtro}+'&campoFiltro='+${campoFiltro}}">
                <span th:text="${pagina.pageNum}">1</span>
              </a>
            </li>

            <!-- Tasto Next -->
            <li class="page-item">
              <a class="page-link"
                 th:href="@{'/parcoauto/search/parametri;paging=' + ${pageNum} + ',1?selected=' + ${recPage}+ '&filtro='+${filtro}+'&campoFiltro='+${campoFiltro}}"
                 aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Successivo</span>
              </a>
            </li>

          </ul>
        </nav>

      </div>
    </div>
  </div>

</section>

<script>
  document.getElementById("filtroInput").addEventListener("click", function () {
    this.select();
  });

  function refreshPage() {
    var selectedValue = document.getElementById("righe").value;
    window.location.href = "?filtro=[[${filtro}]]&selected=" + selectedValue;
  }
</script>

<th:block th:replace="common/foot :: footFragment"></th:block>

</body>
</html>
