<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbarFragment">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Rental Car</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Blocco dei menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/homepage}">
                        <span class="material-icons md-home" title="Homepage" aria-hidden="true"></span>
                        Homepage
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Parco Auto" th:href="@{/parcoauto}">
                        <span class="material-icons md-local_taxi" title="prodotti" aria-hidden="true"></span>
                        Parco Auto
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Profilo Utente" th:href="@{/profiloutente.html}">
                        <span class="material-icons md-person" title="Fidelity" aria-hidden="true"></span>
                        Profilo Utente
                    </a>
            </ul>

            <!-- Motore di Ricerca -->
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>

            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="md-28 material-icons md-menu"></i>
                </button>

                <ul class="nav">

                    <!-- Avatar e Menu Utente -->
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">
                            <img class="img-xs rounded-circle"
                                 th:src="@{/images/avatars/offline_user.png}"
                                 alt="User" width="35" height="35">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" th:href="@{/login/form}">Accedi</a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item text-danger" th:href="@{/logout}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
